.title {
  color: blue;
  font-size: 40px;
  width: 600px;
}

h1 {
  color: #FF9933
}

#description {
  font-family: Verdana;
  font-size: 18px;
  color: black;
  width: 1000px;
  height: 200px;
}


  
  
